{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "never"],
    "linebreak-style": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "no-console": "error",
    "max-len": ["error", { "code": 120 }],
    "@typescript-eslint/no-explicit-any": "error",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "no-restricted-syntax": "off",
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["valueBag"] }],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-use-before-define": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "no-useless-constructor": "off",
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-empty-function": "off",
    "object-curly-newline": ["error", { "multiline": true, "consistent": true }],
    "no-plusplus": "off",
    "no-underscore-dangle": ["error"],
    "no-await-in-loop": "off",
    "complexity": ["error", { "max": 4 }],
    "class-methods-use-this": "off",
    "@typescript-eslint/consistent-type-imports": ["error", { "fixStyle": "inline-type-imports" }]
  },
  "env": {
    "es2020": true,
    "node": true
  },
  "overrides": [
    {
        "files": ["test/**/*"],
        "env": {
            "jest": true
        }
    },
    {
      "files": ["benchmark/**/*"],
      "rules": {
          "no-console": "off"
      }
    }
  ]
}
